.smallimg {
  width: 150px;
}
#animal1, #animal2, #animal3 {
  display: none;
    width: 800px;
    margin: 30px auto 30px auto;
    /* border: 1px solid #f0f; */
    text-align: center;
}

#animal1 p, #animal2 p, #animal3 p {
  text-align: left;
}

#animal1 img, #animal2 img, #animal3 img {
  margin-bottom: 16px;
}

.border{
  border-style: solid;
  border-color: red;
  margin-left: 3px;
  margin-right: 3px;
}

.header {
  margin-top: 30px;
  border-style: solid;
  border-color: lightgray;
  margin-left: 3px;
  margin-right: 3px;
  padding: 20px;
  text-align: center;
  background:lightgray;
}

.dropdown {
  width: 200px;
  margin: 30px auto 30px auto;
}
